@keyframes rise {
    from {
        opacity: 0;
        top: -2em;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.rise_card {
    width: 100%;
    position: relative;
    animation: rise;
    animation-duration: 1200ms;
    animation-fill-mode: both;
}

.error {
    background-color: coral;
    color: white;
}
